
.htcontact-form-banner {
    --exfcf7: #2bc48a;
    --white: #ffffff;
    --black: #222222;
    padding: 30px;
    font-size: 14px;
    line-height: 1.75;
    background: var(--exfcf7);
    color: var(--white);
    border-radius: 8px;
}
.htcontact-form-banner h2 {
	color: var(--white);
    font-size: 1.25rem;
    line-height: 1.25;
    margin-top: 0;
}
.htcontact-form-banner ul.htcontact-form-banner-feature-list li {
    position: relative;
    padding-left: 22px;
}
.htcontact-form-banner ul.htcontact-form-banner-feature-list li::before {
    content: url(../images/icon/white-check.png);
    position: absolute;
    left: 0;
    top: 2px;
}
.htcontact-form-banner a.htcontact-form-banner-btn {
    background-color: var(--white);
	color: var(--black);
    padding: 5px 5px 5px 20px;
    border-radius: 25px;
    outline: 0;
    transition: 0.4s;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    gap: 15px;
}
.htcontact-form-banner a.htcontact-form-banner-btn .htcontact-form-banner-btn-icon {
    background-color: var(--exfcf7);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    transition: 0.4s;
}
.htcontact-form-banner a.htcontact-form-banner-btn:hover {
	color: var(--exfcf7);
    box-shadow: 0 0 28px rgb(0 0 0 / 10%);
}